{% include '_partials/_header.html' %}
<div class="wrapper">
    <a class="div">
        <lottie-player
            id="lottie-animation"
            src="https://lottie.host/d3e99fb0-4fa1-4c0a-8605-9a55cdb66d70/06jFtW6Ymh.json"
            background="lightgrey"
            speed="1"
            style="width: 100vw; height: 100vh"
            hover
            loop
        >
        </lottie-player>
    </a>
    <p>Lorsque tu hover sur le lottie player (100vw 100vh) elle va loop</p>
</div>
{% include '_partials/_footer.html' %}
